/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Apr 24, 2025, 3:35:24 AM
    Author     : avinashpandey
*/
body.x-border-layout-ct, div.x-border-layout-ct{
    background-image: url(bgimage4.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.x-toolbar-footer {
/*    background-color: transparent;*/
background-color: rgba(0, 0, 0, 0.5);
}

.x-panel-body-default {
    border-style: unset;
}

.x-form-item-label-default{
    color: #fdfdfd !important;
    font: normal 18px / 17px helvetica, arial, verdana, sans-serif !important;
}

.button-1014{
    min-width: 88px !important;
    padding-top: 6px !important;
    padding-bottom: 7px !important;
    /* padding-left: 10px; */
    left: 164px !important;
}

.x-btn{
    border-color: #191414 !important;
    border: 0px;
    width: 295px !important;
    left: 99px !important;
    background-image: linear-gradient(to bottom, #f5d791, rgb(255, 134, 28)) !important;
    /* top: 2px !important; */
    /* background-image: linear-gradient(to right, #ffc87c, #ffc87c 50%, #b85c38 51%, #b85c38) !important; */
    border-radius: 64px;
    padding: 4px 5px 11px 3px !important;
}

/*.x-component-default{
    margin-left: -114px !important;
}*/

/*.x-form-error-wrap-under{
    background-color: #e74c3c !important;  red background 
    color: white !important;               white text 
    padding: 4px 8px;
    border-radius: 4px;
}*/

.x-form-invalid-under-default{
    background-color: #e74c3c !important; /* red background */
    color: white !important;              /* white text */
    padding: 4px 8px !important;
    border-radius: 4px !important;
}